@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Cothic ProN", Meiryo, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
*, *::before, *::after{
    box-sizing: border-box;
}


header {
    display: flex;
    max-width: 100%;
    height: 80px;
    background-color: #1e78be;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
}

nav {
    margin-left: auto;
    margin-right: 10%;
}
.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.global-nav .nav-item a {
    display: inline-block;
    width: 100%;
}


#sub-title {
    color: #1e78be;
    text-align: center;
}


.wrapper{
    width: 100%;
    margin: 10px auto 20px;
}


.panel {
    border:1px solid #EEE;
    box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
}

.list{
   margin-left: 10%;
   float: left;
   display: block;
}
.graph{
    float: right;
    width: 50%;
}

table{
    list-style: none;
    padding-left: 0;
    display: inline-block;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;

}


.material-icons.md-36 { 
    color: white;
    font-size: 36px;
}

table{
    color: white;
    border-spacing: 0 1px;
}

.income{
    background-color: #3974D4;
}

.balance {
    background-color: #2BA825;
}

.spending {
    background-color: #D44E99;
}

table tr:nth-child(4) {
    background-color: #A6CEE3;
}

table tr:nth-child(5) {
    background-color: #1F78B4;
}

table tr:nth-child(6) {
    background-color: #B2DF8A;
}

table tr:nth-child(7) {
    background-color: #33A02C;
}

table tr:nth-child(8) {
    background-color: #FB9A99;
}

table tr:nth-child(9) {
    background-color: #E31A1C;
}

table tr:nth-child(10) {
    background-color: #FDC47A;
}

table tr:nth-child(11) {
    background-color: #FF7F00;
}

table tr:nth-child(12) {
    background-color: #CAB2D6;
}

table tr:nth-child(13) {
    background-color: #6A3D9A;
}




.total-border{
    border-bottom: 5px solid white;
}

th{
    padding-left: 0.5em;
}

.value{
    font-size: 24px;
    padding-left: 1em;
    padding-right: 0.5em;
    text-align: right;
}

/* input.html */

.input-form{
    text-align: center;
}


